$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: rgb(128, 128, 128);
$green: rgb(6, 114, 92);
$dark-blue: rgb(17, 17, 71);
$shadow-grey: rgb(144, 144, 148);
$breakpointtablet:768px;
$breakpoint_desktop:1024px;
@font-face{
    font-family: "nexa-bold";
    src:url("../fonts/Nexa-Bold.otf");
}
@font-face{
    font-family: "nexa-light";
    src:url("../fonts/Nexa-Light.otf");
}
h1,h2,h3,h4,h5,h6{
    font-family: nexa-bold;
    color:$black;

}
*{
    box-sizing: border-box;
}
p{
    font-family: nexa-light;
    font-size: 1.1rem;
    padding:0.5rem 0rem 0.8rem 0.0rem;
}
h1,h2{
    font-size: 2rem;
}
h3{
    font-size: 2rem;
    
}
h4{
    font-size: 1.5rem;
    color: $black;
    font-weight: 600;
}
h5{
    font-size: 1.4rem;
    padding-top: 0.35rem;
    font-weight: 600;
}
h6{
    font-size: 1.2;
}
button{
    background-color:$white;
    color: $black;
    width:100%;
    border-radius: 0.5rem;
    border:  1px solid $green;
}
section{
    padding: 1rem 1rem;
    background-color: $white;
}
::placeholder{
    font-size: 1.2rem;
    padding-top:0.8rem;
    padding-left: 0.8rem;
}
textarea{
    border-radius: 0.5rem;
    margin-left: 0.0rem;
    margin-bottom: 0.5rem;
    background-color:$white;
    width:100%;
    border-style:1.0px $black solid;
}
input {
    width:100%;
    padding:0.8rem 0rem 0.8rem 0.8rem;
    margin:0.5rem 0.0rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;    
}
i{
    color: $green;
    font-size: 1.2rem !important;
}
label{
    font-size: 1rem;
}



@media only screen and(min-width:768px){
    button{
        width:auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}